body {   
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

pre {
    font-family: 'Times New Roman', Times, serif;
}

.header {
    width: auto;
    margin-left: 8em;
    margin-right: 8em;
    height: 120px;
    background-color: rgb(111, 157, 172);
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    margin-top: -110px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.head {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 15px 0 0 0;
    font-size: 36px;
    color: rgb(20, 34, 39);
}

h3 {
    margin: 0;
    color: rgb(20, 34, 39);
}

main {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
}

hr {
    size: 3px;
    width: 68em;
}

.section {
    width: 65em;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 10em;
}

ul {
    padding: 0;
}

.skills {
    margin: 0;
    padding: 0 0 0 1em;
}

ul.contacts li{
    display: inline-block;
    margin-right: 3em;
}

.heading {
    display: block;
    font-size: 20px;
    font-style: itaclass="text"lic;
    width: 250px;
}

.text {
    display: block;
    font-style: normal;
    font-size: 22px;
    width: 40em;
} 

.link {
    padding-bottom: 15px;
}
.link_none {
    list-style-type: none;
}

a {
    color: rgb(15, 21, 65);
}

code {
    font-size: 14px;
}

.circle1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgb(25, 15, 138);
}

.circle2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgb(99, 150, 209);
}

.circle3 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(25, 15, 138),    rgb(99, 150, 209));
}

.footer {
    width: auto;
    margin-left: 8em;
    margin-right: 8em;
    min-height: 80px;
    background-color: rgb(111, 157, 172);
}

footer .foto {
    display: inline-flex;
    margin: 25px 0 0 200px;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 40%;
}

.icon-rs {
    width: 100px;
    height: 30px;
}

.a {
    text-decoration: none;
}

.contact {
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

h2, p {
    margin: 10px 0 20px 0;
}

.skillsName {
    display: inline-block;
    width: 130px;
}